
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
 
}
.head{
    display: flex;
}
.main-image{
    background: url('images/main-image.png');
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 511px;
}
.login-area{
    display: flex;
    flex-direction: column;
    margin: 30px 50px;
    /* width: 50%; */ 
}
.icon-line{
    display: flex;
    justify-content: space-between;
    /* margin: 30px 50px; */
}
#icon{
    width: 200px;
}
.login-signup{
    margin: 38px 30px 38px 10px;
    padding: 2px;
}
.login-signup-link{
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}
#login{
    padding: 20px;
    color: black;
}
#login:hover{
    color: #fc8019;
}
#sign-up{
    background-color: black;
    color: white;
    padding: 10px 25px;
}
.heading-text{
    font-size: 45px;
}
.para-text{
    font-size: 25px;
    margin-top: -30px;
}
.input{
    display: flex;
    margin-top: 20px;
}
#delivery-location{
    width: 500px;
    height: 50px;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid  #bdbdbd;
    font-family: 'Roboto', sans-serif;
    padding: 0px 30px;
}
#submit-btn{
    width: 130px;
    color: white;
    font-weight: bold;
    background-color: #fc8019;
    font-size: 16px;
    border: none;
    font-family: 'Roboto', sans-serif;
}
.popular-cities{
    font-size: 15px;
    color: #787878;
    margin-top: 40px;
}
.cities-name{
    font-size: 15px;
    color: #787878;
    margin-top: 0px;
    max-width: 515px;
}

.features{
    display: flex;
    justify-content: space-evenly;
    gap: 2em;
    /* align-items: center; */
    padding: 20px 0;
    height: 300px;
    background-color: #2b1e16;
    color: white;
}
.feature-image{
    width: 100px;
}
.feature-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* padding: 105px; */
    /* To remove extra white space in right side */
    padding-right: 0;
}
.feature-para{
    width: 274px;
    margin-top: 0px;
}
#delivery{
    margin-top: 30px;
}
.apst-gp{
    margin: 175px 80px ;
}
#restaurant{
    font-size: 40px;
    width: 323px;
}
#order-sentence{
    margin-top: -25px;
    margin-bottom: 50px;
    font-size: 22px;
    width: 426px;
}
.download-section{
    display: flex;
    justify-content: space-between;
}
.download-section-phone-image{
    width: 440px;
}
.img-gp-ast{
    width: 230px;
}



.border{
    border: 2px solid red;
}

/* make responsive */
@media(max-width:800px){
    .head{
        flex-direction: column;
        justify-content: center;
    }
    .main-image{
        width:100vw;
        height: 15em;
        margin:0 ;
    }
    .icon-line{
        justify-content:space-between;
    }
   
    .login-area{
        margin-top:1em;
       
    }
    .login-signup{
        margin-top: auto;
        padding: auto;
        display: flex;
        flex-direction: column;
    }
    #sign-up{
        border-radius: 50px;
        width:3em;
        text-align: center;
       
    }
    .input{
        justify-content: center;
    }
    .features{
        flex-direction: column;
        height: max-content;
        padding-top: 4em 0;
    }
    .download-section{
        flex-direction: column;
        align-items: center;
       
    }
 .apst-gp{
    margin-top: 0;
    justify-content: center;
    margin-bottom: 2em;
 }
 #restaurant{
    width:auto;
    font-size: 2em;
    text-align: center;
    padding: 1em 0;
 }
 #order-sentence{
    max-width:250px;
    font-size: 1.4em;
 }
 .img-gp-ast{
    padding-top: 1em;
 }
 .first-download-phone-image{
    display: none;
 }
 .download-section-phone-image{
    width:300px;
    margin: 0;
 }
}
